
/*  margin */
.mg0a { margin:0 auto;}
.mgt-20  {margin-top: vw(-20px) !important;}
.mgt-10  {margin-top: vw(-10px) !important;}
.mgt-5  {margin-top: vw(-5px) !important;}
.mgt0  {margin-top: 0 !important;}
.mgt1  {margin-top: vw(1px) !important;}
.mgt2  {margin-top: vw(2px) !important;}
.mgt3  {margin-top: vw(3px) !important;}
.mgt4  {margin-top: vw(4px) !important;}
.mgt5  {margin-top: vw(5px) !important;}
.mgt6  {margin-top: vw(6px) !important;}
.mgt7  {margin-top: vw(7px) !important;}
.mgt8  {margin-top: vw(8px) !important;}
.mgt9  {margin-top: vw(9px) !important;}
.mgt10 {margin-top:vw(10px) !important;}
.mgt12 {margin-top:vw(12px) !important;}
.mgt15 {margin-top:vw(15px) !important;}
.mgt18 {margin-top:vw(18px) !important;}
.mgt20 {margin-top:vw(20px) !important;}
.mgt25 {margin-top:vw(25px) !important;}
.mgt30 {margin-top:vw(30px) !important;}
.mgt32 {margin-top:vw(32px) !important;}
.mgt35 {margin-top:vw(35px) !important;}
.mgt40 {margin-top:vw(40px) !important;}
.mgt45 {margin-top:vw(45px) !important;}
.mgt50 {margin-top:vw(50px) !important;}
.mgt55 {margin-top:vw(55px) !important;}
.mgt60 {margin-top:vw(60px) !important;}
.mgt65 {margin-top:vw(65px) !important;}
.mgt70 {margin-top:vw(70px) !important;}
.mgt75 {margin-top:vw(75px) !important;}
.mgt80 {margin-top:vw(80px) !important;}
.mgt85 {margin-top:vw(85px) !important;}
.mgt90 {margin-top:vw(90px) !important;}
.mgt95 {margin-top:vw(95px) !important;}
.mgt100 {margin-top:vw(100px) !important;}

.mgb-20  {margin-bottom: vw(-20px) !important;}
.mgb-10  {margin-bottom: vw(-10px) !important;}
.mgb-5  {margin-bottom: vw(-5px) !important;}
.mgb0  {margin-bottom: 0 !important;}
.mgb1  {margin-bottom: vw(1px) !important;}
.mgb2  {margin-bottom: vw(2px) !important;}
.mgb3  {margin-bottom: vw(3px) !important;}
.mgb4  {margin-bottom: vw(4px) !important;}
.mgb5  {margin-bottom: vw(5px) !important;}
.mgb6  {margin-bottom: vw(6px) !important;}
.mgb7  {margin-bottom: vw(7px) !important;}
.mgb8  {margin-bottom: vw(8px) !important;}
.mgb9  {margin-bottom: vw(9px) !important;}
.mgb10 {margin-bottom:vw(10px) !important;}
.mgb12 {margin-bottom:vw(12px) !important;}
.mgb15 {margin-bottom:vw(15px) !important;}
.mgb18 {margin-bottom:vw(18px) !important;}
.mgb20 {margin-bottom:vw(20px) !important;}
.mgb25 {margin-bottom:vw(25px) !important;}
.mgb30 {margin-bottom:vw(30px) !important;}
.mgb32 {margin-bottom:vw(32px) !important;}
.mgb35 {margin-bottom:vw(35px) !important;}
.mgb40 {margin-bottom:vw(40px) !important;}
.mgb45 {margin-bottom:vw(45px) !important;}
.mgb50 {margin-bottom:vw(50px) !important;}
.mgb55 {margin-bottom:vw(55px) !important;}
.mgb60 {margin-bottom:vw(60px) !important;}
.mgb65 {margin-bottom:vw(65px) !important;}
.mgb70 {margin-bottom:vw(70px) !important;}
.mgb75 {margin-bottom:vw(75px) !important;}
.mgb80 {margin-bottom:vw(80px) !important;}
.mgb85 {margin-bottom:vw(85px) !important;}
.mgb90 {margin-bottom:vw(90px) !important;}
.mgb95 {margin-bottom:vw(95px) !important;}
.mgb100 {margin-bottom:vw(100px) !important;}

.mgl0  {margin-left: 0 !important;}
.mgl1  {margin-left: vw(1px) !important;}
.mgl2  {margin-left: vw(2px) !important;}
.mgl3  {margin-left: vw(3px) !important;}
.mgl4  {margin-left: vw(4px) !important;}
.mgl5  {margin-left: vw(5px) !important;}
.mgl6  {margin-left: vw(6px) !important;}
.mgl7  {margin-left: vw(7px) !important;}
.mgl8  {margin-left: vw(8px) !important;}
.mgl9  {margin-left: vw(9px) !important;}
.mgl10 {margin-left:vw(10px) !important;}
.mgl12 {margin-left:vw(12px) !important;}
.mgl15 {margin-left:vw(15px) !important;}
.mgl18 {margin-left:vw(18px) !important;}
.mgl20 {margin-left:vw(20px) !important;}
.mgl25 {margin-left:vw(25px) !important;}
.mgl30 {margin-left:vw(30px) !important;}
.mgl35 {margin-left:vw(35px) !important;}
.mgl40 {margin-left:vw(40px) !important;}
.mgl45 {margin-left:vw(45px) !important;}
.mgl50 {margin-left:vw(50px) !important;}
.mgl55 {margin-left:vw(55px) !important;}
.mgl60 {margin-left:vw(60px) !important;}
.mgl65 {margin-left:vw(65px) !important;}
.mgl70 {margin-left:vw(70px) !important;}
.mgl75 {margin-left:vw(75px) !important;}
.mgl80 {margin-left:vw(80px) !important;}
.mgl85 {margin-left:vw(85px) !important;}
.mgl90 {margin-left:vw(90px) !important;}
.mgl95 {margin-left:vw(95px) !important;}
.mgl100 {margin-left:vw(100px) !important;}

.mgr0  {margin-right:0 !important;}
.mgr1  {margin-right:vw(1px) !important;}
.mgr2  {margin-right:vw(2px) !important;}
.mgr3  {margin-right:vw(3px) !important;}
.mgr4  {margin-right:vw(4px) !important;}
.mgr5  {margin-right:vw(5px) !important;}
.mgr6  {margin-right:vw(6px) !important;}
.mgr7  {margin-right:vw(7px) !important;}
.mgr8  {margin-right:vw(8px) !important;}
.mgr9  {margin-right:vw(9px) !important;}
.mgr10 {margin-right:vw(10px) !important;}
.mgr12 {margin-right:vw(12px) !important;}
.mgr15 {margin-right:vw(15px) !important;}
.mgr18 {margin-right:vw(18px) !important;}
.mgr20 {margin-right:vw(20px) !important;}
.mgr25 {margin-right:vw(25px) !important;}
.mgr30 {margin-right:vw(30px) !important;}
.mgr35 {margin-right:vw(35px) !important;}
.mgr40 {margin-right:vw(40px) !important;}
.mgr45 {margin-right:vw(45px) !important;}
.mgr50 {margin-right:vw(50px) !important;}
.mgr55 {margin-right:vw(55px) !important;}
.mgr60 {margin-right:vw(60px) !important;}
.mgr65 {margin-right:vw(65px) !important;}
.mgr70 {margin-right:vw(70px) !important;}
.mgr75 {margin-right:vw(75px) !important;}
.mgr80 {margin-right:vw(80px) !important;}
.mgr85 {margin-right:vw(85px) !important;}
.mgr90 {margin-right:vw(90px) !important;}
.mgr95 {margin-right:vw(95px) !important;}
.mgr100 {margin-right:vw(100px) !important;}

/* padding */
.pdt0  {padding-top: 0 !important;}
.pdt1  {padding-top: vw(1px) !important;}
.pdt2  {padding-top: vw(2px) !important;}
.pdt3  {padding-top: vw(3px) !important;}
.pdt4  {padding-top: vw(4px) !important;}
.pdt5  {padding-top: vw(5px) !important;}
.pdt6  {padding-top: vw(6px) !important;}
.pdt7  {padding-top: vw(7px) !important;}
.pdt8  {padding-top: vw(8px) !important;}
.pdt9  {padding-top: vw(9px) !important;}
.pdt10 {padding-top:vw(10px) !important;}
.pdt12 {padding-top:vw(12px) !important;}
.pdt15 {padding-top:vw(15px) !important;}
.pdt18 {padding-top:vw(18px) !important;}
.pdt20 {padding-top:vw(20px) !important;}
.pdt25 {padding-top:vw(25px) !important;}
.pdt30 {padding-top:vw(30px) !important;}
.pdt35 {padding-top:vw(35px) !important;}
.pdt40 {padding-top:vw(40px) !important;}
.pdt45 {padding-top:vw(45px) !important;}
.pdt50 {padding-top:vw(50px) !important;}
.pdt55 {padding-top:vw(55px) !important;}
.pdt60 {padding-top:vw(60px) !important;}
.pdt65 {padding-top:vw(65px) !important;}
.pdt70 {padding-top:vw(70px) !important;}
.pdt75 {padding-top:vw(75px) !important;}
.pdt80 {padding-top:vw(80px) !important;}
.pdt85 {padding-top:vw(85px) !important;}
.pdt90 {padding-top:vw(90px) !important;}
.pdt95 {padding-top:vw(95px) !important;}
.pdt100 {padding-top:vw(100px) !important;}

.pdb0  {padding-bottom: 0 !important;}
.pdb1  {padding-bottom: vw(1px) !important;}
.pdb2  {padding-bottom: vw(2px) !important;}
.pdb3  {padding-bottom: vw(3px) !important;}
.pdb4  {padding-bottom: vw(4px) !important;}
.pdb5  {padding-bottom: vw(5px) !important;}
.pdb6  {padding-bottom: vw(6px) !important;}
.pdb7  {padding-bottom: vw(7px) !important;}
.pdb8  {padding-bottom: vw(8px) !important;}
.pdb9  {padding-bottom: vw(9px) !important;}
.pdb10 {padding-bottom:vw(10px) !important;}
.pdb12 {padding-bottom:vw(12px) !important;}
.pdb15 {padding-bottom:vw(15px) !important;}
.pdb18 {padding-bottom:vw(18px) !important;}
.pdb20 {padding-bottom:vw(20px) !important;}
.pdb25 {padding-bottom:vw(25px) !important;}
.pdb30 {padding-bottom:vw(30px) !important;}
.pdb35 {padding-bottom:vw(35px) !important;}
.pdb40 {padding-bottom:vw(40px) !important;}
.pdb45 {padding-bottom:vw(45px) !important;}
.pdb50 {padding-bottom:vw(50px) !important;}
.pdb55 {padding-bottom:vw(55px) !important;}
.pdb60 {padding-bottom:vw(60px) !important;}
.pdb65 {padding-bottom:vw(65px) !important;}
.pdb70 {padding-bottom:vw(70px) !important;}
.pdb75 {padding-bottom:vw(75px) !important;}
.pdb80 {padding-bottom:vw(80px) !important;}
.pdb85 {padding-bottom:vw(85px) !important;}
.pdb90 {padding-bottom:vw(90px) !important;}
.pdb95 {padding-bottom:vw(95px) !important;}
.pdb100 {padding-bottom:vw(100px) !important;}

.pdl0  {padding-left: 0 !important;}
.pdl1  {padding-left: vw(1px) !important;}
.pdl2  {padding-left: vw(2px) !important;}
.pdl3  {padding-left: vw(3px) !important;}
.pdl4  {padding-left: vw(4px) !important;}
.pdl5  {padding-left: vw(5px) !important;}
.pdl6  {padding-left: vw(6px) !important;}
.pdl7  {padding-left: vw(7px) !important;}
.pdl8  {padding-left: vw(8px) !important;}
.pdl9  {padding-left: vw(9px) !important;}
.pdl10 {padding-left:vw(10px) !important;}
.pdl12 {padding-left:vw(12px) !important;}
.pdl15 {padding-left:vw(15px) !important;}
.pdl18 {padding-left:vw(18px) !important;}
.pdl20 {padding-left:vw(20px) !important;}
.pdl25 {padding-left:vw(25px) !important;}
.pdl30 {padding-left:vw(30px) !important;}
.pdl35 {padding-left:vw(35px) !important;}
.pdl40 {padding-left:vw(40px) !important;}
.pdl45 {padding-left:vw(45px) !important;}
.pdl50 {padding-left:vw(50px) !important;}
.pdl55 {padding-left:vw(55px) !important;}
.pdl60 {padding-left:vw(60px) !important;}
.pdl65 {padding-left:vw(65px) !important;}
.pdl70 {padding-left:vw(70px) !important;}
.pdl75 {padding-left:vw(75px) !important;}
.pdl80 {padding-left:vw(80px) !important;}
.pdl85 {padding-left:vw(85px) !important;}
.pdl90 {padding-left:vw(90px) !important;}
.pdl100 {padding-left:vw(100px) !important;}

.pdr0  {padding-right: 0 !important;}
.pdr1  {padding-right: vw(1px) !important;}
.pdr2  {padding-right: vw(2px) !important;}
.pdr3  {padding-right: vw(3px) !important;}
.pdr4  {padding-right: vw(4px) !important;}
.pdr5  {padding-right: vw(5px) !important;}
.pdr6  {padding-right: vw(6px) !important;}
.pdr7  {padding-right: vw(7px) !important;}
.pdr8  {padding-right: vw(8px) !important;}
.pdr9  {padding-right: vw(9px) !important;}
.pdr10 {padding-right: vw(10px) !important;}
.pdr12 {padding-right:vw(12px) !important;}
.pdr15 {padding-right:vw(15px) !important;}
.pdr18 {padding-right:vw(18px) !important;}
.pdr20 {padding-right:vw(20px) !important;}
.pdr25 {padding-right:vw(25px) !important;}
.pdr30 {padding-right:vw(30px) !important;}
.pdr35 {padding-right:vw(35px) !important;}
.pdr40 {padding-right:vw(40px) !important;}
.pdr45 {padding-right:vw(45px) !important;}
.pdr50 {padding-right:vw(50px) !important;}
.pdr55 {padding-right:vw(55px) !important;}
.pdr60 {padding-right:vw(60px) !important;}
.pdr65 {padding-right:vw(65px) !important;}
.pdr70 {padding-right:vw(70px) !important;}
.pdr75 {padding-right:vw(75px) !important;}
.pdr80 {padding-right:vw(80px) !important;}
.pdr85 {padding-right:vw(85px) !important;}
.pdr90 {padding-right:vw(90px) !important;}
.pdr95 {padding-right:vw(95px) !important;}
.pdr100 {padding-right:vw(100px) !important;}

.pd0 {padding:0!important;}