
@keyframes slideUp{
    0% {
        transform: translateY(-15%);
    }
    100% {
        transform: translateY(0%);
    }
}

@keyframes displayRight{
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
.a{
    &-slide{
        &_f{
            animation-name:displayRight;
            animation-fill-mode:forwards;
            opacity: 0;
            &.-item01{
                animation-duration:.5s;
            }
            &.-item02{
                animation-duration:.7s;
            }
            &.-item03{
                animation-duration:2s;
            }
            &.-item04{
                animation-duration:3s;
            }
        }
    }
}